<%- include('../layout/head') %>
<link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/admin">Painel do Admin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/">Voltar para Loja</a>
                        <a class="nav-link active" aria-current="page"
                            href="/admin/produtos/adicionar_produto">Adicionar Produto</a>
                        <a class="nav-link" href="/admin/log-out">Desconectar</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>

        <div class="container-md">
            <h2 class="mb-5">Editar produto</h2>
            <form action="/admin/editar_produto/<%= product._id %>?_method=PUT" method="post"
                enctype="multipart/form-data">

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="name">Nome do Produto:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="product[name]" id="name"
                            value="<%= product.name %>">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="preco">Preço:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="product[preco]" id="preco"
                            value="<%= product.preco %>">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="descricao">Descrição do Produto:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control textarea-input" type="text" name="product[descricao]"
                            id="descricao"><%= product.descricao %></textarea>
                    </div>
                </div>

                <div class="row mb-5">
                    <label class="col-sm-2 col-form-label" for="image">Adicionar Imagem:</label>
                    <div class="col-sm-10 form-file">
                        <input class="form-control" type="file" name="imagens" id="image" multiple>
                    </div>
                </div>
                <% if (product.imagens !== '') { %>
                <div class="row mb-5">
                    <label class="col-sm-2 col-form-label" for="previewImg">Imagens Anteriores: <small>(selecione para
                            apagar)</small></label>
                    <div class="col-sm-10">
                        <div class="preview-img" id="previewImg">
                            <% for( let i = 0; i < product.imagens.length; i++ ) { %>
                            <div class="preview-img-form">
                                <img src="<%= product.imagens[i].url %> " alt="">
                                <input type="checkbox" name="delImage" value="<%= product.imagens[i].filename %>">
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% } %>
                <button class="btn btn-primary btn-lg" type="submit">Confirmar Alterações</button>
                <a class="ms-3 btn btn-outline-primary" href="/admin">Retornar ao painel</a>
            </form>



        </div>
    </main>
    <%- include('../layout/footer') %>
</body>

</html>